*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
#root{
    display: flex;
    justify-content:center;
}
.App{
    display: flex;
    width: 600px;
    border: 1px solid black;
}
.table{
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    align-items: center;
}
.form{
    vertical-align: top;
}




